<h4 class='d-flex justify-content-between mb-4'>    
<span>Posts </span>
</h4>
<div class="posts">
  <%if user_signed_in? %>
    <li style='float: right'><%= link_to 'LogOut', destroy_user_session_path, method: :delete, class:'btn btn-primary', style: 'float: left'%></li>
    <li style='float: left'><%= link_to 'New Post', new_post_path, class:'btn btn-primary'%></li>
    <%else%>
    <li style='float: right'><%= link_to 'Sign Up', new_user_registration_path, class:'btn btn-primary'%></li>
    <li style='float: left'><%= link_to 'Login', new_user_session_path, class:'btn btn-primary'%></li>
  <%end%>
</div>


<div class="posts">
<% @posts.each do |post| %>
  <%= link_to post, class:'text-decoration-none' do %>
    <div class="card mb-3">
      <div class= "card-body">
        <div class="row">
        <div class="col-md-2">
          <% if post.image_url.present? %>
              <%= image_tag post.image_url , style: 'height:200px; width: 200px'%>

          <%end%>
    
        </div>
        <div class="col-md-10"> 
        <h5 class = 'card-title text-dark'> <%= post.title %></h5>
        <p class='text-secondary'> <%= truncate(post.content, :length => 400) %></p>
        </div>
        </div>
      </div>
    </div>
  <%end%>
<%end%>

</div>
<p id="notice"><%= notice %></p>
